KUBERNETES_KUBECONFIG=
KUBERNETES_CONTEXT=
KUBERNETES_DEFAULT_NAMESPACE=default
KUBERNETES_TIMEOUT_MS=15000
KUBERNETES_MAX_RETRIES=2
KUBERNETES_ALLOW_WRITE=false
KUBERNETES_ALLOW_HIGH_RISK=false
KUBERNETES_ALLOW_DESTRUCTIVE=false
