GROUNDCOVER_API_KEY=
GROUNDCOVER_BACKEND_ID=
GROUNDCOVER_API_BASE_URL=https://api.groundcover.com
GROUNDCOVER_PROMETHEUS_BASE_URL=https://app.groundcover.com/api/prometheus
GROUNDCOVER_TIMEOUT_MS=15000
GROUNDCOVER_MAX_RETRIES=2
