KEYCLOAK_BASE_URL=https://keycloak.example.com
KEYCLOAK_REALM=example
KEYCLOAK_AUTH_REALM=example
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ACCESS_TOKEN=
KEYCLOAK_TIMEOUT_MS=15000
KEYCLOAK_MAX_RETRIES=2
KEYCLOAK_ALLOW_WRITE=false
KEYCLOAK_ALLOW_HIGH_RISK=false
KEYCLOAK_ALLOW_DESTRUCTIVE=false
