CONTENTFUL_MANAGEMENT_ACCESS_TOKEN=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT_ID=master
CONTENTFUL_HOST=api.contentful.com
CONTENTFUL_PROTECTED_ENVIRONMENTS=master
CONTENTFUL_APPROVAL_SECRET=
CONTENTFUL_ENABLE_DESTRUCTIVE=false
CONTENTFUL_TIMEOUT_MS=15000
CONTENTFUL_READ_RETRIES=2
