ABSTRACT_EMAIL_API_KEY=
ABSTRACT_PHONE_API_KEY=
ABSTRACT_IP_API_KEY=
ABSTRACT_COMPANY_API_KEY=
ABSTRACT_HOLIDAYS_API_KEY=
ABSTRACT_TIMEZONE_API_KEY=
ABSTRACT_EXCHANGE_API_KEY=
ABSTRACT_REQUEST_TIMEOUT_MS=10000
ABSTRACT_MAX_RETRIES=2