OVH_ENDPOINT=https://eu.api.ovh.com/1.0
OVH_APPLICATION_KEY=
OVH_APPLICATION_SECRET=
OVH_CONSUMER_KEY=
OVH_TIMEOUT_MS=15000
OVH_MAX_RETRIES=2
OVH_REQUIRE_WRITE_APPROVAL=true
OVH_ENABLE_HIGH_RISK=false
OVH_APPROVAL_SECRET=
