MYSQL_XDEVAPI_URI=mysqlx://user:password@localhost:33060/schema
MYSQL_APPROVAL_SECRET=replace-with-random-secret
MYSQL_TIMEOUT_MS=15000
MYSQL_MAX_ROWS=200
MYSQL_ALLOW_WRITES=false
MYSQL_ALLOW_DESTRUCTIVE=false
