B2_KEY_ID=
B2_APPLICATION_KEY=
B2_REGION=us-west-004
B2_ENDPOINT=https://s3.us-west-004.backblazeb2.com
B2_ALLOWED_BUCKETS=
B2_ALLOWED_PREFIXES=
B2_REQUIRE_WRITE_APPROVAL=true
B2_APPROVAL_SECRET=
B2_TIMEOUT_MS=20000
B2_MAX_READ_BYTES=1048576
