MASTODON_BASE_URL=https://mastodon.example
MASTODON_ACCESS_TOKEN=
MASTODON_TIMEOUT_MS=15000
MASTODON_MAX_RETRIES=3
MASTODON_ALLOW_WRITES=false
MASTODON_ALLOW_HIGH_RISK=false
MASTODON_ALLOW_DESTRUCTIVE=false
