WOOCOMMERCE_BASE_URL=
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
WOOCOMMERCE_TIMEOUT_MS=15000
WOOCOMMERCE_MAX_RETRIES=3
WOOCOMMERCE_ALLOW_WRITES=false
WOOCOMMERCE_APPROVAL_TOKEN=
WOOCOMMERCE_MCP_URL=
