CLERK_SECRET_KEY=
CLERK_API_BASE_URL=https://api.clerk.com/v1
CLERK_API_VERSION=2025-04-10
CLERK_READ_ONLY=true
CLERK_ALLOW_WRITE=false
CLERK_APPROVAL_MODE=required
CLERK_TIMEOUT_MS=15000
CLERK_MAX_RETRIES=2
