FASTMAIL_API_TOKEN=
FASTMAIL_SESSION_URL=https://api.fastmail.com/jmap/session
FASTMAIL_TIMEOUT_MS=10000
FASTMAIL_MAX_RETRIES=2
FASTMAIL_ALLOW_WRITES=false
FASTMAIL_ALLOW_EXTERNAL_SEND=false
FASTMAIL_ALLOW_DESTRUCTIVE=false
