DATADOG_API_KEY=
DATADOG_APPLICATION_KEY=
DATADOG_API_BASE_URL=https://api.datadoghq.com
DATADOG_TIMEOUT_MS=15000
DATADOG_APPROVAL_MODE=required
DATADOG_APPROVED_ACTIONS=
DATADOG_ALLOW_DESTRUCTIVE=false
