CRONITOR_API_KEY=
CRONITOR_TELEMETRY_KEY=
CRONITOR_API_BASE=https://cronitor.io/api
CRONITOR_TELEMETRY_BASE=https://cronitor.link
CRONITOR_API_VERSION=2025-11-28
CRONITOR_REQUIRE_WRITE_APPROVAL=true
CRONITOR_ENABLE_DESTRUCTIVE=false
CRONITOR_TIMEOUT_MS=15000
