TIGER_PUBLIC_KEY=
TIGER_SECRET_KEY=
TIGER_SERVICE_ID=
TIGER_CONNECTOR_ALLOW_WRITE=false
TIGER_CONNECTOR_ALLOW_HIGH_RISK=false
TIGER_CONNECTOR_REQUIRE_WRITE_APPROVAL=true
TIGER_CONNECTOR_APPROVAL_SECRET=
TIGER_CONNECTOR_TIMEOUT_MS=30000
TIGER_CONNECTOR_MAX_RETRIES=2
TIGER_CLI_PATH=tiger
