NAMECHEAP_API_USER=
NAMECHEAP_API_KEY=
NAMECHEAP_USERNAME=
NAMECHEAP_CLIENT_IP=
NAMECHEAP_SANDBOX=true
NAMECHEAP_TIMEOUT_MS=15000
NAMECHEAP_MAX_RETRIES=2
NAMECHEAP_APPROVAL_SECRET=
NAMECHEAP_ENABLE_HIGH_RISK=false
