LOGZ_IO_API_TOKEN=
LOGZ_IO_API_BASE_URL=https://api.logz.io
LOGZ_IO_TIMEOUT_MS=15000
LOGZ_IO_MAX_READ_RETRIES=2
LOGZ_IO_REQUIRE_WRITE_APPROVAL=true
LOGZ_IO_ENABLE_DESTRUCTIVE=false
LOGZ_IO_APPROVAL_SECRET=
