MEILISEARCH_URL=https://your-project.meilisearch.io
MEILISEARCH_API_KEY=
MEILISEARCH_TIMEOUT_MS=10000
MEILISEARCH_MAX_RETRIES=3
MEILISEARCH_ALLOW_INSECURE_HTTP=false
MEILISEARCH_APPROVAL_SECRET=
MEILISEARCH_ENABLE_DESTRUCTIVE=false
