DOCUSIGN_ACCESS_TOKEN=
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_BASE_URL=https://demo.docusign.net/restapi
DOCUSIGN_OAUTH_BASE_URL=https://account-d.docusign.com
DOCUSIGN_TIMEOUT_MS=15000
DOCUSIGN_MAX_RETRIES=2
DOCUSIGN_REQUIRE_WRITE_APPROVAL=true
DOCUSIGN_ALLOW_DESTRUCTIVE=false
DOCUSIGN_APPROVED_ACTIONS=
