UPTIMEROBOT_API_KEY=
UPTIMEROBOT_API_BASE_URL=https://api.uptimerobot.com/v3
UPTIMEROBOT_TIMEOUT_MS=15000
UPTIMEROBOT_APPROVAL_MODE=required
UPTIMEROBOT_APPROVED_ACTIONS=
UPTIMEROBOT_ALLOW_DESTRUCTIVE=false
