LOGSNAG_API_TOKEN=
LOGSNAG_DEFAULT_PROJECT=
LOGSNAG_API_BASE_URL=https://api.logsnag.com
LOGSNAG_TIMEOUT_MS=10000
LOGSNAG_MAX_RETRIES=2
LOGSNAG_REQUIRE_WRITE_APPROVAL=true
LOGSNAG_ALLOW_NOTIFICATIONS=false
