CONTENTSTACK_API_KEY=
CONTENTSTACK_MANAGEMENT_TOKEN=
CONTENTSTACK_REGION=aws-na
CONTENTSTACK_BRANCH=main
CONTENTSTACK_TIMEOUT_MS=15000
CONTENTSTACK_MAX_RETRIES=2
CONTENTSTACK_REQUIRE_WRITE_APPROVAL=true
CONTENTSTACK_ENABLE_DESTRUCTIVE=false
CONTENTSTACK_APPROVAL_SECRET=
