BUTTONDOWN_API_KEY=
BUTTONDOWN_API_BASE_URL=https://api.buttondown.com/v1
BUTTONDOWN_API_VERSION=2026-04-01
BUTTONDOWN_TIMEOUT_MS=15000
BUTTONDOWN_MAX_READ_RETRIES=2
BUTTONDOWN_REQUIRE_WRITE_APPROVAL=true
BUTTONDOWN_ENABLE_DESTRUCTIVE=false
BUTTONDOWN_APPROVAL_SECRET=
