UPLOADCARE_PUBLIC_KEY=
UPLOADCARE_SECRET_KEY=
UPLOADCARE_API_BASE=https://api.uploadcare.com
UPLOADCARE_TIMEOUT_MS=15000
UPLOADCARE_MAX_RETRIES=3
UPLOADCARE_ALLOW_WRITES=false
UPLOADCARE_ALLOW_DESTRUCTIVE=false
