EASYPOST_API_KEY=
EASYPOST_API_BASE=https://api.easypost.com/v2
EASYPOST_REQUEST_TIMEOUT_MS=15000
EASYPOST_MAX_READ_RETRIES=3
EASYPOST_REQUIRE_WRITE_APPROVAL=true
EASYPOST_DESTRUCTIVE_ENABLED=false
EASYPOST_ALLOWED_API_HOSTS=api.easypost.com
