AIRBYTE_API_URL=https://api.airbyte.com/v1
AIRBYTE_TOKEN_URL=https://api.airbyte.com/v1/applications/token
AIRBYTE_CLIENT_ID=
AIRBYTE_CLIENT_SECRET=
AIRBYTE_AUTH_MODE=client_credentials
AIRBYTE_TIMEOUT_MS=15000
AIRBYTE_MAX_RETRIES=3
AIRBYTE_APPROVAL_SECRET=
