PIPEDRIVE_AUTH_MODE=api_token
PIPEDRIVE_API_TOKEN=
PIPEDRIVE_ACCESS_TOKEN=
PIPEDRIVE_API_BASE_URL=https://api.pipedrive.com
PIPEDRIVE_TIMEOUT_MS=15000
PIPEDRIVE_MAX_RETRIES=2
PIPEDRIVE_APPROVAL_SECRET=
