HELPSCOUT_ACCESS_TOKEN=
HELPSCOUT_CLIENT_ID=
HELPSCOUT_CLIENT_SECRET=
HELPSCOUT_API_BASE=https://api.helpscout.net
HELPSCOUT_TIMEOUT_MS=15000
HELPSCOUT_MAX_RETRIES=2
HELPSCOUT_ALLOW_WRITE=false
HELPSCOUT_REQUIRE_WRITE_APPROVAL=true
HELPSCOUT_ALLOW_HIGH_RISK=false
HELPSCOUT_WEBHOOK_SECRET=
