AKAMAI_CLIENT_TOKEN=
AKAMAI_CLIENT_SECRET=
AKAMAI_ACCESS_TOKEN=
AKAMAI_HOST=
AKAMAI_ACCOUNT_SWITCH_KEY=
AKAMAI_TIMEOUT_MS=15000
AKAMAI_MAX_RETRIES=2
AKAMAI_ALLOW_WRITE=false
AKAMAI_ALLOW_HIGH_RISK=false
AKAMAI_ALLOW_DESTRUCTIVE=false
