COMMERCETOOLS_PROJECT_KEY=
COMMERCETOOLS_CLIENT_ID=
COMMERCETOOLS_CLIENT_SECRET=
COMMERCETOOLS_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
COMMERCETOOLS_API_URL=https://api.europe-west1.gcp.commercetools.com
COMMERCETOOLS_SCOPES=view_products:{projectKey} view_orders:{projectKey} view_customers:{projectKey} manage_my_orders:{projectKey}
COMMERCETOOLS_APPROVE_WRITES=false
COMMERCETOOLS_TIMEOUT_MS=15000
