PAGERDUTY_API_TOKEN=
PAGERDUTY_API_BASE_URL=https://api.pagerduty.com
PAGERDUTY_FROM_EMAIL=
PAGERDUTY_TIMEOUT_MS=15000
PAGERDUTY_APPROVAL_MODE=required
PAGERDUTY_APPROVED_ACTIONS=
PAGERDUTY_ALLOW_DESTRUCTIVE=false
