BITBUCKET_AUTH_MODE=oauth
BITBUCKET_ACCESS_TOKEN=
BITBUCKET_EMAIL=
BITBUCKET_API_TOKEN=
BITBUCKET_ALLOWED_WORKSPACES=
BITBUCKET_ALLOWED_REPOSITORIES=
BITBUCKET_APPROVAL_SECRET=
BITBUCKET_TIMEOUT_MS=15000
BITBUCKET_MAX_RETRIES=3
