GB_API_KEY=
GB_API_URL=https://api.growthbook.io
GROWTHBOOK_TIMEOUT_MS=15000
GROWTHBOOK_MAX_RETRIES=2
GROWTHBOOK_REQUIRE_WRITE_APPROVAL=true
GROWTHBOOK_APPROVAL_SECRET=
GROWTHBOOK_ENABLE_HIGH_RISK=false
