GREENHOUSE_CLIENT_ID=
GREENHOUSE_CLIENT_SECRET=
GREENHOUSE_SUB_USER_ID=
GREENHOUSE_API_BASE_URL=https://harvest.greenhouse.io
GREENHOUSE_AUTH_BASE_URL=https://auth.greenhouse.io
GREENHOUSE_TIMEOUT_MS=15000
GREENHOUSE_MAX_RETRIES=2
GREENHOUSE_REQUIRE_WRITE_APPROVAL=true
GREENHOUSE_APPROVED_ACTIONS=
