GCORE_API_KEY=
GCORE_BASE_URL=https://api.gcore.com
GCORE_CLOUD_PROJECT_ID=
GCORE_CLOUD_REGION_ID=
GCORE_CLIENT_ID=
GCORE_APPROVAL_SECRET=
GCORE_ALLOW_WRITE=false
GCORE_ALLOW_HIGH_RISK=false
GCORE_ALLOW_DESTRUCTIVE=false
GCORE_UPSTREAM_TIMEOUT_MS=30000
