LOB_API_KEY=
LOB_API_BASE_URL=https://api.lob.com/v1
LOB_API_VERSION=2024-01-01
LOB_TIMEOUT_MS=15000
LOB_MAX_RETRIES=2
LOB_APPROVAL_TOKEN=
LOB_REQUIRE_WRITE_APPROVAL=false
LOB_ENABLE_DESTRUCTIVE=false
