BASEROW_BASE_URL=https://api.baserow.io
BASEROW_DATABASE_TOKEN=
BASEROW_ALLOWED_TABLE_IDS=
BASEROW_REQUIRE_WRITE_APPROVAL=true
BASEROW_ENABLE_DELETE=false
BASEROW_APPROVAL_SECRET=
BASEROW_TIMEOUT_MS=15000
BASEROW_MAX_RETRIES=2
