FIREWORKS_API_KEY=
FIREWORKS_ACCOUNT_ID=
FIREWORKS_ALLOWED_MODELS=
FIREWORKS_APPROVAL_SECRET=
FIREWORKS_TIMEOUT_MS=30000
FIREWORKS_MAX_RETRIES=3
FIREWORKS_MAX_INPUT_CHARS=200000
FIREWORKS_MAX_DOCUMENTS=100
