BETTERSTACK_API_TOKEN=
BETTERSTACK_API_BASE_URL=https://uptime.betterstack.com/api/v3
BETTERSTACK_TIMEOUT_MS=10000
BETTERSTACK_MAX_RETRIES=2
BETTERSTACK_ALLOW_WRITES=false
BETTERSTACK_ALLOW_DESTRUCTIVE=false
