SPLUNK_ON_CALL_API_ID=
SPLUNK_ON_CALL_API_KEY=
SPLUNK_ON_CALL_API_BASE_URL=https://api.victorops.com
SPLUNK_ON_CALL_TIMEOUT_MS=15000
SPLUNK_ON_CALL_MAX_RETRIES=2
SPLUNK_ON_CALL_ALLOW_WRITES=false
SPLUNK_ON_CALL_APPROVAL_SECRET=
